footer {
  min-width: 768px;
  background-color: #191919
}

.footer-nav-container, .copyright_legal_lang-container {
  padding: 0 32px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center
}

.footer-nav {
  padding: 42px 0;
  display: -webkit-flex;
  display: flex;
  /* "flex-shrink: 1" for IE10 */
  -webkit-flex: 0 1 980px;
  flex: 0 1 980px;
  -webkit-justify-content: center;
  justify-content: center
}

.footer-nav section {
  -webkit-flex: 1;
  flex: 1
}

.footer-nav label, .footer-nav li {
  line-height: 2.3;
  font-size: 1.2em
}

.footer-nav label {
  color: #fff
}

.footer-nav a {
  color: #999
}

.footer-nav a:hover {
  color: #fff
}

.footer-wechat-container {
  position: relative
}

.footer-wechat {
  vertical-align: middle;
  cursor: pointer
}

.footer-wechat:hover+.footer-wechat_qrcode {
  display: block
}

.footer-wechat_qrcode {
  width: 180px;
  height: 200px;
  padding: 20px 0;
  display: none;
  position: absolute;
  top: -205px;
  left: -80px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 7px;
  -webkit-filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .2));
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .2));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1
}

.footer-wechat_qrcode::before {
  margin-left: -11px;
  position: absolute;
  left: 50%;
  bottom: -12px;
  border-width: 12px 11px 0;
  border-style: solid;
  border-color: #d8d8d8 transparent transparent;
  content: ""
}

.footer-wechat_qrcode::after {
  margin-left: -10px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  border-width: 11px 10px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  content: ""
}

.footer-wechat_qrcode:hover {
  display: block
}

.footer-wechat_qrcode h6 {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  color: #333;
  font-weight: 400
}

.footer-wechat_qrcode img {
  width: 110px;
  height: 110px;
  margin-top: 16px;
  padding: 5px
}

.copyright_legal_lang {
  padding: 12px 0;
  /* "flex-shrink: 1" for IE10 */
  -webkit-flex: 0 1 980px;
  flex: 0 1 980px;
  border-top: 1px solid #444
}

.copyright_legal_lang-items {
  display: -webkit-flex;
  display: flex
}

.copyright_legal_lang-items>li {
  margin-left: 15px
}

.copyright_legal_lang-items>li:first-child {
  margin-left: 0;
  margin-right: auto
}

.copyright_legal_lang-items>li {
  font-size: 1.1em;
  color: #999
}

.copyright_legal_lang-items>li>a {
  color: #999
}

.copyright_legal_lang-items>li>a:hover {
  color: #fff
}

.mobile-copyright {
  display: none
}

.lang-switcher {
  position: relative
}

.mobile-lang-switcher {
  display: none
}

.lang-flag {
  vertical-align: middle;
  cursor: pointer
}

.lang-flag:hover+.switch-lang {
  display: block
}

.switch-lang {
  width: 100px;
  height: 56px;
  display: none;
  position: absolute;
  top: -66px;
  left: -42px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 7px;
  -webkit-filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .2));
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .2));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

/* "-ms-high-contrast: none" for IE10+ */
@media screen and (-ms-high-contrast: none) {
  .footer-wechat_qrcode, .switch-lang {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2)
  }
}

.switch-lang::before {
  margin-left: -11px;
  position: absolute;
  left: 50%;
  bottom: -12px;
  border-width: 12px 11px 0;
  border-style: solid;
  border-color: #d8d8d8 transparent transparent;
  content: ""
}

.switch-lang::after {
  margin-left: -10px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  border-width: 11px 10px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  content: ""
}

.switch-lang:hover {
  display: block
}

.switch-lang li::before {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #d8d7d8;
  content: ""
}

.switch-lang li:first-child::before {
  display: none
}

.switch-lang a {
  height: 27px;
  padding: 0 8px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #666
}

.switch-lang a:hover {
  color: #000
}

.switch-lang a>img {
  margin-right: 12px
}

.switch-lang a>label {
  cursor: pointer
}

@media screen and (max-width: 768px) {
  footer {
    min-width: unset;
    background-color: #fff
  }

  .footer-nav-container {
    padding: 0;
    border-top: 1px solid #e3e3e3
  }

  .footer-nav {
    padding: 0;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap
  }

  .footer-nav section:first-child label, .footer-nav section:last-child {
    display: none
  }

  .footer-nav label, .footer-nav li {
    font-size: 1.5em
  }

  .footer-nav label {
    width: 100%;
    padding: 0 30px;
    display: inline-block;
    line-height: 48px;
    color: #8d8d8d;
    font-weight: 400;
    border-bottom: 1px solid #e3e3e3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  .footer-nav li {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #e5e5e5
  }

  .related-news {
    display: none !important
  }

  .footer-nav a {
    padding: 0 30px;
    position: relative;
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
    line-height: 60px;
    color: #3d4145;
    background-color: #f7f7f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  .footer-nav a::after {
    width: 7px;
    height: 7px;
    margin: -6px 0 0 -28px;
    position: absolute;
    top: 50%;
    left: 100%;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #111;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: ""
  }

  .footer-nav a:hover {
    color: unset
  }

  .copyright_legal_lang-container {
    padding: 0;
    background-color: #111
  }

  .copyright_legal_lang {
    padding: 30px 0
  }

  .copyright_legal_lang-items {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
  }

  .copyright_legal_lang-items>li {
    margin: 10px 0;
    padding: 0 10px;
    color: #8d8d8d;
    border-right: 1px solid #444
  }

  .copyright_legal_lang-items>li>a {
    color: #8d8d8d
  }

  .copyright {
    display: none
  }

  .mobile-copyright {
    width: 100%;
    display: block;
    text-align: center;
    border: none !important
  }

  .lang-switcher {
    display: none
  }

  .mobile-lang-switcher {
    display: block;
    border: none !important
  }

  .mobile-lang-flag {
    width: 12px;
    vertical-align: middle
  }
}