header {
  min-width: 768px;
  min-height: 68px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5
}

.logo, .shop-now {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 120px;
  flex: 0 0 120px;
  -webkit-align-items: center;
  align-items: center
}

.logo a {
  width: 50px;
  height: 30px;
  margin-left: 32px;
  /* "\9" for IE6-10 */
  display: inline-block\9;
  background: url(../images/samadoyo.png) no-repeat center / contain
}

.logo a>span {
  display: none
}

.global-nav {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto
}

.global-nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center
}

.gn-menu {
  font-size: 1.6em
}

.gn-menu a {
  padding: 0 24px;
  display: inline-block;
  line-height: 68px;
  color: #333
}

.gn-menu a:hover {
  color: #7d7d7d
}

.shop-now {
  -webkit-justify-content: center;
  justify-content: center
}

.shop-now a {
  font-size: 1.4em;
  color: #7d7d7d
}

.shop-now a:hover {
  color: #262626
}

.nav-toggle {
  display: none
}

@media screen and (max-width: 768px) {
  header {
    min-width: unset;
    min-height: 59px
  }

  .logo a {
    width: 40px;
    margin-left: 20px
  }

  .global-nav, .shop-now {
    display: none
  }

  .nav-toggle {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 0 60px;
    flex: 0 0 60px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
  }

  .nav-toggle button {
    width: 30px;
    height: 30px;
    padding: 0;
    background: url(../images/menu.png) no-repeat center / contain;
    border: none;
    -webkit-transition: -webkit-filter .5s;
    transition: filter .5s
  }

  .nav-toggle button:focus {
    -webkit-filter: opacity(.5);
    filter: opacity(.5);
    -moz-outline: none;
    outline: none
  }
}