html {
  font-size: 10px
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", Arial, "Microsoft YaHei", sans-serif
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

a {
  text-decoration: none
}

video:focus {
  -moz-outline: none;
  outline: none
}

.swiper-container {
  min-width: 768px;
  overflow: hidden
}

.swiper-wrapper {
  display: -webkit-flex;
  display: flex
}

.swiper-slide {
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%
}

.swiper-slide img {
  width: 100%;
  display: block
}

@media screen and (min-width: 1400px) {
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 33px
  } 
}

.swiper-container-horizontal>.swiper-pagination-bullets>.swiper-pagination-bullet {
  margin: 0 3px
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: url(../images/indicator-bg.png) no-repeat center / contain;
  -moz-opacity: 1;
  opacity: 1
}

.swiper-pagination-bullet:focus {
  -moz-outline: none;
  outline: none
}

.swiper-pagination-bullet-active {
  background: url(../images/indicator-active-indicator.png) no-repeat center / contain
}

.class-nav {
  min-width: 768px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e5e5e5
}

.class-nav-items {
  margin: 0 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center
}

.class-nav-item {
  padding: 17px 26px
}

.class-nav-item a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap;
  -webkit-align-items: center;
  align-items: center
}

.class-nav-item h2 {
  margin: 8px 0 0;
  font-size: 1.2em;
  color: #333;
  font-weight: 200
}

.class-nav-item img {
  height: 54px
}

.main {
  min-width: 768px
}

.page-title {
  border-bottom: 1px solid #e5e5e5
}

.page-title h3 {
  margin: 0;
  display: inline-block;
  position: relative;
  left: 32px;
  line-height: 38px;
  font-size: 1.4em;
  color: #333;
  font-weight: 200
}

.page-title a {
  color: #333
}

.page-title a:hover {
  color: #7d7d7d
}

.img-list {
  min-width: 768px
}

.img-list-item, .img-list-item a {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center
}

.img-list-item a {
  -webkit-flex: 1;
  flex: 1
}

.img-list-item img {
  width: 640px
}

.model-list section {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center
}

.model-list-items {
  padding: 5px 0;
  -webkit-flex: 0 0 640px;
  flex: 0 0 640px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around
}

.model-list-item {
  margin: 5px 0
}

.model-list-item a {
  display: -webkit-flex;
  display: flex
}

.model-list-item a:hover {
  -webkit-box-shadow: 0 1px 7px 1px #e5e5e5;
  -moz-box-shadow: 0 1px 7px 1px #e5e5e5;
  box-shadow: 0 1px 7px 1px #e5e5e5
}

.model-list-item img {
  width: 250px
}

.banner img {
  width: 100%;
  display: block
}

.about-container {
  padding: 48px 4%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center
}

.about-content {
  min-width: 600px;
  margin: 0 auto;
  padding: 24px 48px;
  -webkit-flex: 0 0 40%;
  flex: 0 0 40%;
  line-height: 2;
  font-size: 1.2em;
  color: #333;
  letter-spacing: 1px;
  background-color: rgba(229, 229, 229, .7)
}

.about-content p:first-child {
  margin: 0
}

.about-content p {
  margin: 1em 0 0;
  text-indent: 2.25em
}

.about-content p>a {
  color: #08c
}

.about-content p>a:hover {
  text-decoration: underline
}

.poster-grid {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center
}

.poster-grid section {
  min-width: 768px;
  margin: 48px auto;
  -webkit-flex: 0 1 938px;
  flex: 0 1 938px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around
}

.poster-item {
  margin: 12px;
  position: relative;
  -webkit-flex: 0 0 443px;
  flex: 0 0 443px;
  border: 1px solid #e5e5e5
}

.poster-item:hover {
  -webkit-box-shadow: 0 1px 7px 1px #e5e5e5;
  -moz-box-shadow: 0 1px 7px 1px #e5e5e5;
  box-shadow: 0 1px 7px 1px #e5e5e5
}

.poster-item a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  color: #333
}

.poster-item-img {
  height: 247px;
  overflow: hidden
}

.poster-item-img img {
  width: 100%;
  display: block
}

.poster-item-title {
  width: 100%;
  padding: 0 12px;
  position: absolute;
  bottom: 29px;
  background-color: rgba(34, 34, 34, .5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.poster-item-title h6 {
  height: 29px;
  margin: 0;
  line-height: 29px;
  font-size: 1.4em;
  color: #fff
}

.poster-item-content {
  padding: 0 12px
}

.poster-item-content p {
  height: 29px;
  margin: 0;
  line-height: 29px;
  font-size: 1.2em
}

.article-container {
  padding: 48px 4%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center
}

.article {
  margin: 0 auto;
  -webkit-flex: 0 1 768px;
  flex: 0 1 768px
}


/* "-ms-high-contrast: none" for IE10+ */
@media screen and (-ms-high-contrast: none) {
  .about-content, .article {
    margin: 0
  }

  .poster-grid section {
    margin: 48px 0
  }
}

.article-title {
  margin: 0;
  line-height: 1.125;
  font-size: 1.6em;
  color: #333;
  font-weight: 200
}

.article-content {
  margin-top: 12px;
  color: #333
}

.article-content video {
  width: 100%;
  margin: 12px 0
}

.article-content img {
  width: 100%
}

.article-content p {
  margin: 10px 0 6px 0;
  line-height: 1.45;
  font-size: 1.2em
}